/* Layout base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Banner */
.banner {
    background: #8b0000;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}
.banner a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz o link herdar a cor do elemento pai (sem mudar a cor do título) */
}


.banner h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}

.banner p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Navegação */
header nav {
    background: #660000;
    text-align: center;
    padding: 10px 0;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 15px; /* Adicionado padding para criar o fundo em volta */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave para o efeito de hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

/* Efeito hover */
header nav a:hover {
    background-color: #3d0000; /* Cor mais escura ao passar o mouse */
}


/* Seções principais */
main {
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
}

.intro h2 {
    color: #8b0000;
    font-size: 2em;
}

.intro p {
    font-size: 1.1em;
    margin: 10px auto;
    max-width: 600px;
}

/* Seção de imagem */
.image-section {
    text-align: center;
    margin-top: 30px; /* Espaçamento acima da imagem */
    margin-bottom: 30px;
}

.intro-image {
    max-width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para dar destaque */
}


/* Seção de Destaques */
.highlights {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Efeito hover */
.card:hover {
    transform: translateY(-10px) scale(1.05); /* Move para cima e aumenta o tamanho */
    z-index: 10; /* Coloca o card à frente dos outros */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para dar o efeito de destaque */
}

.card h3 {
    color: #8b0000;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    margin-bottom: 20px;
}

.card .btn {
    background: #8b0000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
}

.card .btn:hover {
    background: #660000;
}

/* Estilos para a seção Atribuições do Ministério Público */
.mp-atributions {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    
}

.mp-atributions .container {
    max-width: 800px; /* Mesma largura do vídeo e links úteis */
    margin: 0 auto;
}

.mp-atributions h2 {
    font-size: 2rem;
    color: #8b0000;
    margin-bottom: 20px;
    text-align: center;
}

.mp-atributions p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.mp-atributions ul {
    list-style-type: none; /* Remove os pontos de lista */
    padding-left: 0;
    margin-left: 0; /* Remove qualquer margem à esquerda */
}
.mp-atributions ul li {
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: justify;
    align-items: center; /* Alinha o ícone e o texto na mesma linha */
}

.mp-atributions ul li strong {
    color: #8b0000;
    font-weight: bold;
}
.mp-atributions ul li i {
    margin-right: 10px;
    color: #8b0000; /* Cor do check para vermelho */
    font-size: 1.2rem; /* Ajuste o tamanho do ícone */
}

/* Seção de Vídeo */
.video-section {
    margin-top: 200px;
    background-color: #fafafa;
    padding: 30px 20px; /* Diminuindo o espaçamento */
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-section iframe {
    width: 80%; /* Define a largura como 80% da largura da página */
    max-width: 800px; /* Limita a largura máxima do vídeo para 800px */
    height: 450px; /* Define a altura do vídeo */
    border: none;
    border-radius: 8px;
    margin: 0 auto; /* Centraliza o vídeo na tela */
}


/* Rodapé */
footer {
    text-align: center;
    padding: 3px 10px;
    background: #333;
    color: #fff;
    margin-top: 30px;
    font-size: 1em;
    position: relative;
    bottom: 0;

}
